textarea.info-input{
    border: none;
    border-bottom: 1px solid #2E9CCA;
    height: 200px;
    padding-top: 80px;
    resize: none;
    
}
textarea.info-input:focus{
   
    padding-top: 0;
    
}
.send-message-button{
    width: 100%;
    height: 40px;
    background-color: #2E9CCA;
}
.success-message, .failure-message{
    display: none;
}