body, html{
    display: flex;
    min-height: 100%;
    min-width: 100%;
}
html {
    scroll-behavior: smooth;
  }
a{
    text-decoration: none;
    color: #fff;
}
a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}
a:hover {
    color: #000;
    text-decoration: none;
}
a:active {
    color: #000;
}
.primary-color{
    color: #ffffff;
}
.secondary-color{
    color: aquamarine;
}
.background-secondary-color{
    background-color: aquamarine;
}
.primary-font{
    font-family: "Roboto";
}
.secondary-font{
    font-family: "Roboto"
}
.pointer{
    cursor: pointer;
}
