body, html{
    display: flex;
    min-height: 100%;
    min-width: 100%;
}
html {
    scroll-behavior: smooth;
  }
a{
    text-decoration: none;
    color: #fff;
}
a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}
a:hover {
    color: #2E9CCA;
    text-decoration: none;
}
a:active {
    color: #000;
}
.primary-color{
    color: #ffffff;
}
.secondary-color{
    color: #2E9CCA;
}
.background-secondary-color{
    background-color: #2E9CCA;
}
.primary-font{
    font-family: "Roboto";
}
.secondary-font{
    font-family: "Roboto"
}
.pointer{
    cursor: pointer;
}
input{
    border-radius: 4px;
    border: none;
}
#logged-header{
    height: 90px;
    background-color: #25274D;
    z-index: 2;
}
#header-logo{
    line-height: 90px;
    font-size: 60px;
}
#logged-footer{
    background-color: #25274D;
    z-index: 2;
    height: 70px;
}
#footer-copyright{
    color: #fff;
    line-height: 70px;;
}
#navbar{
    background-color: #2E9CCA;
    padding: 90px 10px 0 0;
    
}
.nav-list-item-container{
    height: 50px;
    line-height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.nav-item-inactive:hover{
    background-color: #AAABB8;
}
.nav-item-active{
    background-color: #464866;
}
.nav-item-active:hover{
    background-color: #464866;
}
.content-for-logged{
    margin-top: 90px;
    margin-bottom: 70px;
}
.lds-dual-ring {
    display: none;
    width: 40px;
    height: 40px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #2E9CCA;
    border-color: #2E9CCA transparent #2E9CCA transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

