#login-form-container{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(../images/mare-tramonto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login-undo-button{
    height: 50px;
}
#login-undo-button:hover{
    background-color: #ffffff;
    opacity: 0.2;
}
.login-undo-a{
    line-height: 50px;
}