#registration-page-container{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../images/scia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#registration-undo-button{
    height: 50px;
}
#registration-undo-button:hover{
    background: rgba(255, 255, 255, 0.2);
}
.registration-undo-a{
    line-height: 50px;
}
.registration-input{
    height: 40px;
    text-align: center;
}
.registration-input-div{
    margin: 10px 0 10px 0;
}
#registration-form-container{
    padding: 30px;;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.registration-alert-error{
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 10px 0 10px 0;
}